//sass --watch sass/main.scss styles/styles.css

// Meg
$lightBackground: rgb(238, 238, 238);
$darkBackground: gray;
$white: white;
$gray: gray;
$causion: rgb(243, 98, 98);
$mainFont: sans-serif;
@import 'sign-in.scss';
@import 'sign-up.scss';
@import 'welcome.scss';
@import 'onboarding.scss';
@import 'moving-details.scss';
@import 'existingMvs.scss';
