.moving-details {
	padding: 12px;

	.aside {
		display: none;
	}

	header {
		display: flex;
		justify-content: space-between;

		img {
			width: 56px;
			height: 56px;
		}

		.profile-photo {
			width: 66px;
			height: 66px;
			border-radius: 50%;
			background-color: rgb(173, 171, 171);
		}
	}

	main {
		.heading {
			margin-top: 2.5rem;
			margin-bottom: 1.3rem;

			h1 {
				color: $heading-color;
				font-weight: bold;
				margin: 0;
				padding: 0;
			}
		}

		.breadcrumb {
			margin-bottom: 0.6rem;
			a {
				text-decoration: none;
				color: $breadcrumb-nav-color;
			}

			li.active {
				color: $breadcrumb-nav-active-color;
			}
		}

		form {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			.field {
				flex-grow: 1;
				max-width: 375px;
				width: 100%;

				.field__container {
					input {
						flex-grow: 1;
						max-width: 350px;
						width: 100%;
						padding-right: 2.8rem;
					}

					span {
						@include iconButton(
							$bgColor: #044468,
							$borderRadius: 30%,
							$fontSize: 0.9rem,
							$width: 32px,
							$height: 30px
						);
					}
				}
			}

			.filter {
				flex-grow: 0.2;
				margin-top: 1em;

				& .fa-filter {
					font-size: 2rem;
					cursor: pointer;
					color: $field-text-color;
				}
			}
		}
	}

	button.round {
		position: fixed;
		bottom: 3rem;
		right: 1.1rem;
		@include iconButton();
	}

	.moving-options {
		border: 2px solid $accent-color;
		border-radius: 8px;
		position: fixed;
		bottom: 3.2rem;
		left: 2rem;
		right: 2rem;
		height: 0;
		visibility: hidden;
		transition: visibility 0.3s linear, height 0.3s linear;

		ul {
			list-style-type: none;
			padding: 0.5rem;
			cursor: pointer;
			visibility: hidden;

			li {
				text-align: center;
				padding: 0.62rem 0;
				width: 80%;
				margin: 0 auto;
				color: $text-color;
				border-bottom: 2px solid $accent-color;

				&:last-of-type {
					border-bottom: 0;
				}

				&:hover {
					background-color: $menu-item-hover;
				}
			}
		}

		&.active {
			ul {
				visibility: visible;
			}
			visibility: visible;
			height: 200px;
		}
	}

	@include mediumDevice {
		padding: 0;
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		.content-wrapper {
			padding: 12px;
		}

		.aside {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			background-color: $heading-color;
			height: 100vh;
			padding-bottom: 2rem;

			img {
				color: white;
				width: 300px;
			}

			p {
				color: white;
			}
		}

		.moving-options {
			left: 53%;
		}
	}
}

@import 'box-labels';
@import 'box-sizes';
@import 'collaborators';
@import 'new-box';
