/*****************************************************/
/*          LOW-FIDELITY COLORS                     */
/*****************************************************/
$lightBackground: rgb(238, 238, 238);
$darkBackground: gray;
$white: white;
$gray: gray;
$causion: rgb(243, 98, 98);

/*****************************************************/
/*          HIGH-FIDELITY COLORS                     */
/*****************************************************/
/*
* General colors
*/
$screen-bg-color: linear-gradient(to bottom, #03a4ff, #fff);
$heading-color: #044468;
$text-color: #00314d;
$desktop-left-bg-color: #044468;
$primary-color: #044468;
$accent-color: #f99d14;
$grey: #5f5e5e;
$mid-grey: #979797;
$green: #299c00;
$MovingTitle-desktop-color: white;
$paragraphCopyright-color: white;
$carousel-indicator-color: #044468;
$menu-item-hover: #f7d7a7a4;
$soft-grey: #f7f7f7;
$box-closed-color: #d8d8d8;

/*
* Forms colors
*/
$label-form-color: #00314d;
$field-required-color: #52c1ff;
$field-alert-color: #eb5757;
$field-bg-color: #dadada;
$field-text-color: #044468;
$field-inner-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
$field-drop-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
$checkbox-bg-color: #044468;

/*
* Buttons colors
*/
$button-drop-shadow: 0 5px 5px 0 rgba(3, 164, 255, 0.15);
$button-secondary-border-color: linear-gradient(
  #044468,
  #044468,
  rgba(4, 68, 104, 0.5156)
);
$modal-delete-btn: white;

/*
* Icons colors
*/
$icon-color: #fff;
$icon-bg-color: #044468;
$icon-bg-alert-color: #eb5757;

/*
* Breadcrumbs colors
*/
$breadcrumb-nav-color: #adadad;
$breadcrumb-nav-active-color: #044468;

/*
* Avatar colors
*/
$avatar-bg-color: #dadada;
$avatar-icon-color: #5f5e5e;

/*
* Moving card colors
*/
$card-moving-text-color: #f7f7f7;
$card-moving-bg-color: #044468;

/*
* Item / Box cards colors
*/
$card-box-shadow: 0 10px 10px 0 rgba(4, 68, 104, 0.15);
$card-bg-color: #f7f7f7;
$card-text-color: #044468;

/*
* pdf modal colors
*/
$pdf_text_color: white;
$pdf_lines_color: white;
$pdf_bg_fragile: red;
