// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
// }

.box-content {
  .wrapper {
    header {
      @include header();
      .movingName {
        display: none;
      }

      .movingLogo {
        grid-row: 3/4;
        .bigLogo {
          display: none;
        }
      }
    }

    main {
      h2 {
        @include h2();
      }
      h5 {
        @include h5();
      }
      #idSearchContainer {
        margin: 0;
        width: 100%;
      }

      .button {
        width: 26px;
        height: 26px;
        background-color: $primary-color;
        border-radius: 30%;
        border: none;
        font-size: 0.9rem;
        i {
          color: white;
        }
      }

      .buttonOposite {
        width: 26px;
        height: 26px;
        background-color: transparent;
        border-radius: 30%;
        border: none;
        font-size: 1.5rem;
        margin-top: 1rem;
        i {
          color: $primary-color;
        }
      }

      // .form {
      //   display: grid;
      //   grid-template-columns: 1fr;
      //   grid-template-rows: repeat (auto);
      //   label {
      //     padding-top: 0.7rem;
      //     padding-bottom: 0.7rem;
      //   }
      // }
      // .actionBtn {
      //   @include squareButton("primary", 100%);
      //   height: 3rem;
      // }
      #idValue {
        display: flex;
      }

      .searchHeader {
        display: flex;
        max-width: 93vw;
        margin: 0 auto;
        align-items: center;
        .field {
          width: 100%;
          margin: 0;
        }
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin: 1rem auto;
        max-width: 93vw;

        li {
          height: 2.8em;
          margin-bottom: 0.5em;
          display: grid;
          grid-template-columns: 1fr 2fr;
          width: 100%;
          height: auto;
          border-radius: 16px;
          border: 0;
          color: $primary-color;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25),
            inset 0 4px 4px 0 rgba(0, 0, 0, 0.05);

          img:first-child {
            width: 80%;
            height: 80%;
            margin: auto 0;
            padding-left: 3%;
            border-radius: 1rem;
          }

          .itemMetaData {
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding-top: 2%;
            padding-bottom: 1rem;
            padding-right: 1rem;

            .divIcons {
              padding-top: 4%;
              display: flex;
              justify-content: space-between;
              margin-right: 3%;
            }
          }

          h3 {
            // width: 55%;
            margin-bottom: 0;
            color: #044468; // $card-text-color;
            font-weight: bold;
            font-size: 1.6rem; //21px
          }
          h4 {
            margin-bottom: 0;
            color: #044468;
            font-size: 1.12rem; //18px
          }

          img:last-child {
            width: 15%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      .btnAdd {
        position: fixed;
        bottom: 3rem;
        right: 1.1rem;
        @include iconButton();

        &.disabled {
          display: none;
        }
      }
    }
  }
}

@include mediumDevice {
  #background-container {
    @include backgroundContainer($top: 67px);
  }

  .searchHeader {
    order: -1;
    position: sticky;
    top: 0;
  }

  .box-content {
    .wrapper {
      display: flex;

      header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (3, 1fr);
        background-color: $primary-color;
        width: 50%;
        min-height: 100vh;

        .profile-picture {
          grid-row: 1/2;
          a {
            justify-content: right;
          }
        }
        .movingName,
        .movingLogo {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .movingProfilePicture {
          display: flex;
          justify-content: flex-end;
        }
        .movingName {
          grid-row: 2/3;
          nav {
            margin: 0;
            margin-left: 10%;
          }
          h1 {
            margin-left: 10%;
            color: $MovingTitle-desktop-color;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
        .movingLogo {
          grid-row: 3/4;
          width: 100%;
          .bigLogo {
            // margin-left: 10%;
            display: block;
            // justify-content: center;
            justify-self: start;
            text-align: center;
            img {
              // width: 50%;
              width: 310px;
              // height: 50%;
              height: auto;
            }

            p {
              margin-top: 1rem;
              color: $paragraphCopyright-color;
              font-size: 1.12rem;
            }
          }
          .smallLogo {
            display: none;
          }
        }
      }

      main {
        h2 {
          position: sticky;
          top: 90px;
        }
        .nav-breadcrum {
          display: none;
          // position: sticky;
          // top: 182px;
          // z-index: 50;
        }
        #background-container {
          z-index: -5;
        }

        max-height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;

        .buttonOposite {
          margin-right: 13px;
        }

        ul,
        .searchHeader {
          // order: -1;
          margin: 0;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          justify-items: end;
          display: grid;
          .field {
            padding-top: 1rem;
            width: 50%;
            margin: 0;
          }
        }

        ul {
          margin-top: 2rem;
          overflow: scroll;
          overflow-x: hidden;
        }

        #idSearchContainer {
          // width: 50%;
          right: -20px;
          position: relative;
        }

        // .form {
        //   display: grid;
        //   grid-template-columns: repeat(2, 1fr);
        //   grid-template-rows: auto auto;

        //   .div1 {
        //     grid-column: 1/2;
        //     grid-row: 1/2;
        //     padding-left: 1rem;
        //     padding-right: 1rem;
        //   }
        //   .div2 {
        //     grid-column: 2/3;
        //     grid-row: 1/2;
        //     height: 100%;
        //     padding-left: 1rem;
        //     padding-right: 1rem;
        //   }
        //   .div3 {
        //     grid-column: 1/3;
        //     grid-row: 2/3;
        //   }
        // }
      }
    }
  }
}

// modals
.box-content .modal-dialog {
  max-width: 400px;
  width: 100%;

  .modal-content {
    border-radius: 30px;
    background: linear-gradient(
      180deg,
      rgba(138, 204, 243, 1) 0%,
      rgba(255, 255, 255, 1) 40%,
      rgba(255, 255, 255, 1) 100%
    );
    background-repeat: no-repeat;
    background-size: cover;

    .modal-header #boxLabelsModalLabel {
      font-size: 2rem;
      font-weight: bold;
      margin-top: 1rem;
      margin-left: 0.5rem;
    }

    .modal-header button {
      border: 0;
      background-color: transparent;

      span {
        font-weight: bold;
        color: $text-color;
        font-size: 2rem;
        margin-right: 0.5rem;
      }
    }

    .modal-footer {
      padding-bottom: 1rem;
      button.btn.btn-secondary {
        @include squareButton('primary', $width: 95%);
        margin: 0 auto;
      }
    }
  }
}

#itemModal .modal-body .field__container {
  display: grid;

  .left,
  .right {
    .input-wrapper {
      display: flex;
      flex-direction: column;
      margin-bottom: 1.5rem;

      label {
        color: $text-color;
        margin-bottom: 5px;
        padding-left: 3px;

        span {
          color: $field-required-color;
        }
      }

      p {
        margin: 0;
      }

      input {
        padding: 10px;
        border-radius: 16px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25),
          inset 0 4px 4px 0 rgba(0, 0, 0, 0.05);
        color: $text-color;
        // border: 0;

        &::placeholder {
          color: $text-color;
        }
      }
    }
  }

  @include mediumDevice {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
    column-gap: 1rem;
  }
}

#itemModal .input-wrapper.error {
  .input-field {
    display: flex;

    label {
      display: inline-block;

      small {
        color: $field-alert-color;
      }
    }

    p.error-msg {
      color: $field-alert-color;
      font-style: italic;
      margin-left: 5px;
    }
  }

  input {
    border: 1px solid $field-alert-color;
  }
}

#itemModal .photo {
  #preview {
    width: 250px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid rgb(228, 228, 228);
    margin: 0.5rem auto 0;

    img {
      width: 250px;
      height: 200px;
      border-radius: 10px;
    }
  }

  @include mediumDevice {
    display: flex;
    justify-content: flex-start;
    #preview {
      margin: 0;
      margin-left: 1rem;
    }
  }
}
