* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box-content {
  .wrapper {
    header {
      @include header();
      .movingName {
        display: none;
      }

      .movingLogo {
        grid-row: 3/4;
        .bigLogo {
          display: none;
        }
      }
    }

    main {
      h2 {
        @include h2();
      }
      h5 {
        @include h5();
      }
      #idSearchContainer {
        margin: 0;
        width: 100%;
      }

      .button {
        width: 26px;
        height: 26px;
        background-color: $primary-color;
        border-radius: 30%;
        border: none;
        font-size: 0.9rem;
        i {
          color: white;
        }
      }

      .buttonOposite {
        width: 26px;
        height: 26px;
        background-color: transparent;
        border-radius: 30%;
        border: none;
        font-size: 1.5rem;
        i {
          color: $primary-color;
        }
      }

      .form {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (auto);
      }
      .actionBtn {
        @include squareButton("primary", 100%);
        height: 3rem;
      }
      #idValue {
        display: flex;
      }

      .searchHeader {
        display: flex;
        max-width: 93vw;
        margin: 0 auto;
        align-items: center;
        .field {
          width: 100%;
          margin: 0;
        }
      }

      ul {
        list-style: none;
        padding-left: 0;
        margin: 1rem auto;
        max-width: 93vw;

        li {
          height: 2.8em;
          margin-bottom: 0.5em;
          display: grid;
          grid-template-columns: 1fr 2fr;
          width: 100%;
          height: auto;
          border-radius: 16px;
          border: 0;
          color: $primary-color;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25),
            inset 0 4px 4px 0 rgba(0, 0, 0, 0.05);

          img:first-child {
            width: 80%;
            height: 80%;
            margin: auto 0;
            padding-left: 3%;
            border-radius: 1rem;
          }

          .itemMetaData {
            justify-content: center;
            display: flex;
            flex-direction: column;
            padding-top: 2%;

            .divIcons {
              padding-top: 4%;
              display: flex;
              justify-content: space-between;
              margin-right: 3%;
            }
          }

          h3 {
            // width: 55%;
            margin-bottom: 0;
            color: #044468; // $card-text-color;
            font-weight: bold;
            font-size: 1.6rem; //21px
          }
          h4 {
            margin-bottom: 0;
            color: #044468;
            font-size: 1.12rem; //18px
          }

          img:last-child {
            width: 15%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      .btnAdd {
        clip-path: circle(50% at 50% 50%);
        font-size: 2em;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        position: fixed;
        right: 3vw;
        bottom: 9vh;
        background-color: $accent-color;
        color: $white;
        border: none;
        text-decoration: none;
      }
    }
  }

  // footer {
  //   display: flex;

  //   position: fixed;
  //   bottom: 0;
  //   width: 100%;

  //   .existingMoving,
  //   .profile {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     justify-content: center;
  //     width: 50%;

  //     img {
  //       width: 13vw;
  //     }

  //     p {
  //       font-size: 12px;
  //       margin-bottom: 0;
  //     }
  //   }
  // }
}

@include mediumDevice {
  #background-container {
    @include backgroundContainer($top: 101px);
  }

  .searchHeader {
    order: -1;
    position: sticky;
    top: 0;
  }

  .box-content {
    .wrapper {
      display: flex;

      header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat (3, 1fr);
        background-color: $primary-color;
        width: 50%;
        max-height: 100vh;
        .profile-picture {
          grid-row: 1/2;
          // border: 2px solid red;
          // width: 100%;
          a {
            justify-content: right;
          }
        }
        .movingName,
        .movingLogo {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
        .movingProfilePicture {
          display: flex;
          justify-content: flex-end;
        }
        .movingName {
          grid-row: 2/3;
          nav {
            margin: 0;
            margin-left: 10%;
          }
          h1 {
            margin-left: 10%;
            color: $MovingTitle-desktop-color;
          }

          img {
            width: 100%;
            height: 100%;
          }
        }
        .movingLogo {
          grid-row: 3/4;
          width: 100%;
          .bigLogo {
            // margin-left: 10%;
            display: block;
            justify-content: center;
            text-align: center;
            img {
              width: 50%;
              height: 50%;
            }

            p {
              margin-top: 1rem;
              color: $paragraphCopyright-color;
              font-size: 1.12rem;
            }
          }
          .smallLogo {
            display: none;
          }
        }
      }

      main {
        h2 {
          position: sticky;
          top: 90px;
        }
        .nav-breadcrum {
          position: sticky;
          top: 182px;
          z-index: 50;
        }
        #background-container {
          z-index: -5;
        }

        max-height: 100vh;
        width: 50%;
        display: flex;
        flex-direction: column;

        .buttonOposite {
          margin-right: 13px;
        }

        ul,
        .searchHeader {
          // order: -1;
          margin: 0;
          padding-left: 1.5rem;
          padding-right: 1.5rem;
          justify-items: end;
          display: grid;
          .field {
            padding-top: 1rem;
            width: 50%;
            margin: 0;
          }
        }

        ul {
          margin-top: 2rem;
          overflow: scroll;
          overflow-x: hidden;
        }

        #idSearchContainer {
          // width: 50%;
          right: -20px;
          position: relative;
        }
      }
    }
  }
}
