

$font-size-big:1.2rem;
$light-grey : rgba(185, 185, 185,0.5);
$dark-grey : rgb(83, 83, 83);
$black : black;

$iconSize : 2rem;
$linearForCard : linear-gradient(to bottom, #94d8ff, 1%, #fff);

//css
*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}
h2 {
    color: aliceblue
}

.bigContainer {
    @include backgroundContainer();
    position: static;
    
    @include mediumDevice(){
        z-index: 0;
        background: none;
    }
    

    
}

.desktop-bg {
    // display: none;
    @include mediumDevice(){
        // display: block;
        height: 100vh;
        background: linear-gradient(
            180deg
            , rgba(3, 164, 255, 0.3) 0%, white 15%, white 100%);
        width: 100%;


    }
}

.superBigContainer{

    @include mediumDevice(){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-left: 124px;
        padding-right: 124px;

    }

    
}

.ex-desk-left {
    display: none;

    @include mediumDevice(){
        display: inline;
        background-color: $desktop-left-bg-color;

        .left-header {
            text-align: right;
            i {
                @include profile-picture();
                width: 66px;
                height: 66px;
            }
        }

        .left-main {
            width: 30vw;
            margin-right: auto;
            margin-left: auto;
            margin-top: 2rem;
            img {
                width: 100%;
                object-fit: contain
            }
        
        }

        .left-footer {
            text-align: center;
            font-style: italic;
            font-weight: $mainFont;
            color:$white;
            margin-top: 30rem;
            font-size : $font-size-big
        }
    }
}



.existing-header {

    .existing-search-cntn{
        display: none;
    }

    @include mediumDevice(){
        // height: 3rem;
    .m-icon, .profile-icon{
        display: none;
    }

    .existing-search-cntn{
        display: flex;
        width: 60%;
        margin-left: auto;
    }
    }
   
    @include header();
    padding: 1rem 1rem 1rem;
    align-items: center;

    
    .m-icon{
        @include logo();

    }

    .profile-icon{
        @include profile-picture();
    }
}

.existing-header2 {
    h1{
        @include h2();
        font-size: 40px;

    }

    .plus-icon{
        display: none;
    }

    @include mediumDevice(){
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3rem;

        h1{
            padding-top: 4rem;
        }
        .plus-icon{
            display: inline;
            text-align: center;
            padding-top: 2rem;
        }

        h1 {
            padding-left: 4rem;
        }

         .plusBtn {
            @include iconButton($width:3.5rem,$height:3.5rem);
            line-height:55px;
            z-index: -100;
        }
    }
}

.existing-main {
width: 100%;
    h1 {
        color: $gray;
    }

    @include mediumDevice(){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

    .ex-movings {
        background-color: $text-color;
        color: $white;
        width: 70%;
        border-radius: 10px;
        padding: 1rem 0.5rem 1rem 0.5rem;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2rem;
        
        // @include mediumDevice(){
        //     width: auto;
        //     height: 40vh;
        //   }

        .place{
            font-size: 40px;
            margin-top: 1rem;
            color: $white;
            overflow-wrap: break-word;
        }

        p {
            overflow-wrap: break-word;
        }

        .date-p{
            font-style: italic;

        }

        .exM-cards{
            display: flex;
            justify-content: space-between;
            padding: 0 .5rem 0 .5rem;
            margin-top: 3rem
        }
    }

    .existing-search-cntn{
        @include mediumDevice(){
            display: none;
        }
    }

    
}


.existing-search-cntn{
    @include justInput(100%);
    margin-left: 1rem;
    

    input::placeholder{
        font-size: 0.8rem;
        font-family: $mainFont;
    }
}


.existing-footer {
    position: fixed;
    bottom: 0.5em;
    // width: 100%;
    color: $gray;
    // margin-left: 20rem;
    left: 80%;
    

    @include mediumDevice(){
        display: none;
    }

    .plus-cntn {
       text-align: right;
       width: 90%;
       margin-bottom: 1.5rem;
       
       .plus-icon{
           text-align: center;
           z-index: 200000;
        }
        
        .plusBtn {
           @include iconButton($width:3.5rem,$height:3.5rem);
           line-height:55px;
        //    z-index: -100;
       }
    }

    .footer-cntn {
        display: flex;
        width: 100%;
        // justify-content: space-around;
        font-size: 2rem;
        align-items: center;
        text-align: center;

        div {
            width: 100%;
        }
    }

    p {
        font-size: 0.4em;
    }
}




.ex-cntn{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: $light-grey;
    padding: 1rem;
    border-radius: 10px;
    height: 7rem;
    margin-top: 2rem;

    .iconCntn{
        display: flex;
        justify-content: space-around;
        font-size: 1.8rem;
        color: $dark-grey;
    }

    h2, p {
        text-align: center;
    }

    h2 {
        color: $dark-grey;
    }

    p {
        color:grey;
    }
}



// boostrap modal
.existing-footer{
    // z-index: -10000;
}


    // .plus-icon{
    //     @include iconButton
    // }
    .modal-header{
        border-bottom: none;
        padding-top: 2rem;
    
        .modal-title{
            color: $label-form-color;
            font-family: $mainFont;
            font-size: 2rem;
            font-weight: bolder;
        }
    
    }
    
    .modal-content{
        background: $linearForCard;
        border: none;
        
        @include mediumDevice(){
            height: 80vh;
            
        }
        
    }
    
    .modal-dialog{
        margin-top: 2rem;
        
        @include mediumDevice(){
            max-width: 80%;
            
        }
    }
    
    .modal-body {
        z-index: 100000;
    
        ul {
            padding-left: 0;
            margin-bottom: 0;
            
            span {
                color:$field-required-color;
            }
        }
    
        h2 {
            text-align: left;
            font-family: $mainFont;
            color: $label-form-color;
            font-size: 1rem;
            padding-left: 0.5rem;
        }

        @include mediumDevice(){
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            
        }
    }
    
    .newMovesInp, .newMovesInpEdit{
                @include squareButton('secondary',95%);
                // background-color: $white;
                // @extend %border;
                outline: none;
                transition: all 1s ease-in-out;
                // border-radius: 7px;
                // width: 80%;
                align-self: center;
                height: 2.5rem;
                margin-top: 0;
                box-shadow: $field-drop-shadow;
                border: none;

                @include mediumDevice(){
                    border: 1px solid $field-required-color;
                      height: 4rem;
                  }
            }
    
    
    .modal-footer{
        border-top: none;
    
        .save-btn, .save-btn-edit{
            @include squareButton("primary",85%);
            height: 50px;
            text-align: center;
            line-height: normal;
            margin-right: auto;
            margin-left: auto;
            outline: none;

            @include mediumDevice(){
               width: 40%;
              }
        }
    }


#deleteModal {
   .modal-body {
       text-align: center;
       padding-top: 3rem;

       @include mediumDevice(){
           display: inline;

           line-height: 3rem;

           
       }
   }

   .modal-content{
       margin-top: 4rem;

       @include mediumDevice(){
           width: 60%;
           margin-left: auto;
           margin-right: auto;
           height: 30vh;
       }
   }

   .modal-footer{
       justify-content: space-around;
       flex-direction: row;
   }

   button{
       width: 46%;

       &:nth-of-type(2){
           @include squareButton("primary",46%)
       }
       &:nth-of-type(1){
        @include squareButton("secondary",46%)
       }
   }
}
