.onboarding {
	display: flex;
	justify-content: center;
	align-items: center;

	.aside {
		display: none;
	}

	main.carousel-wrapper {
		box-shadow: 0 5px 5px 0 rgba($color: #000000, $alpha: 0.1);
		max-width: 600px;
		width: 90%;
		margin: 0 auto;
		background-color: white;
		border-radius: 20px;
		padding: 1.2rem 1rem 2.5rem;

		.carousel {
			.carousel-indicators {
				position: absolute;
				bottom: -30px;

				button {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: $carousel-indicator-color;
					margin: 0 0.5rem;
				}
			}

			.carousel-inner {
				height: 600px;
				max-height: 100%;
			}

			.carousel-item {
				height: 80vh;

				img {
					width: 100%;
					max-height: 465px;
					height: 100%;
					object-fit: cover;
					border-radius: 2rem;
				}

				.description {
					margin-top: 2rem;
					display: flex;
					flex-direction: column;
					justify-content: flex-end;
					align-items: flex-start;
					text-align: center;
					padding: 0 0.3rem;

					h2 {
						font-weight: bold;
						color: $heading-color;
						margin: 0;
					}

					p {
						color: $text-color;
						text-align: left;
					}
				}
			}
		}

		.actions {
			width: 95%;
			margin: auto;
			display: flex;
			justify-content: space-between;
			position: absolute;
			right: 0;
			left: 0;
			bottom: -18px;

			a {
				text-decoration: none;
				cursor: pointer;

				&.skip {
					color: $grey;
				}

				&.next {
					color: $accent-color;
				}

				&.next.disabled {
					visibility: hidden;
					font-size: 0;

					&::before {
						content: 'Start';
						visibility: visible;
						font-size: 1rem;
					}
				}
			}
		}
	}

	@include mediumDevice {
		display: grid;
		grid-template-columns: repeat(2, 1fr);

		.aside {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-end;
			background-color: $heading-color;
			height: 100vh;
			padding-bottom: 2rem;

			img {
				color: white;
				width: 300px;
			}

			p {
				color: white;
			}
		}
	}
}
