// @import "main.scss";

// * {
//     padding: 0;
//     margin: 0;
//     font-family: $mainFont;
// }

%main-header {
  background-color: $gray;
  color: $white;
  height: 3rem;
  position: sticky;
  top: 0;
  padding: 1rem;
  text-align: center;
  font-family: $mainFont;
  font-size: 0.9em;
}

%bottom-line {
  border-bottom: $gray solid 2px;
}
%border {
  border: $gray solid 2px;
}

%button {
  width: 50%;
  padding: 0.8rem;
  border-radius: 10px;
  @extend %border;
  background-color: $gray;
  margin-left: auto;
  margin-right: auto;
  color: $white;
}

.pdf-header {
  @extend %main-header;
}

.pdf-header2 {
  margin-top: 0.5rem;
  // text-align: center;
  padding-left: 1.5rem;
  font-size: $font-size-big;
  padding-bottom: 0.2rem;
  @extend %bottom-line;
  color: $gray;

  h2 {
    color: $gray;
    font-size: 1rem;
    margin-bottom: 3rem;
  }
}

// .pdf-main {
//     ul {
//         height: 100%;

//         width: 80%;
//         margin-right: auto;
//         margin-left: auto;
//         margin-top: 2rem;
//     }

//     li {
//         display: flex;
//         // justify-content: center;
//     }

//     h3 {
//         font-size: 0.8rem;
//     }

//     p {
//         padding-left: 1rem;
//         font-size: 0.1rem;
//     }
// }

.pdf-con {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 90%;
  row-gap: 0.7em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  // align-items: center;
  // justify-content: center;
  h3 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.2rem;
  }
}

.pdf-img-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  .fragile {
    font-size: 5rem;
  }

  button {
    @extend %button;
    margin-top: 1rem;
  }
}

.pdf-footer {
  position: fixed;
  bottom: 0.5em;
  width: 100%;
  color: $gray;

  // .plus-cntn {
  //    text-align: right;
  //    width: 95%;
  //    margin-bottom: 1.5rem;

  //    i {
  //        font-size: 3.5rem;
  //    }
  // }
  .footer-cntn {
    display: flex;
    width: 100%;
    // justify-content: space-around;
    font-size: 2rem;
    align-items: center;
    text-align: center;

    div {
      width: 100%;
    }
  }

  p {
    font-size: 0.4em;
  }
}
