* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sign-up {

    header {
        background-color: $darkBackground;
        text-align: center;
        padding: 0.7rem;

        p {
            font-family: $mainFont; 
            color: $white;
            font-size: 1rem;
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }


    main {

        .sing-up-main-heading {
            height: 30vh;
            background-color: $lightBackground;
            border-bottom: 2px solid $darkBackground;
            padding: 0.3rem 1.5rem;
            display: flex;
            align-items: flex-end;
    
            h1 {
                font-family: $mainFont;
                color: $darkBackground;
                font-size: 2.2rem;
                font-weight: bold;
            }
        }

        
        form {
            padding: 0.2rem 1.5rem;

            label {
                font-family: $mainFont;
                font-size: 0.9rem;

                span {
                    color: $darkBackground;
                    font-size: 0.6rem;
                    margin-left: 0.1rem;
                }
            }

            .sign-up-errorMsg {
                display: inline-block;
                font-size: 0.9rem;
                color: $causion;
                margin-left: 0.5rem;
                margin-bottom: 0;
            }

            input {
                width: 100%;
                height: 8.5vh;
                line-height: 8.5vh;
                border: 2px solid $darkBackground;
                border-radius: 1rem;
                padding: 0 1rem;
                font-size: 1.2rem;
            }

            input#pwInput,
            input#confirmPwInput {
                width: 85%;
                border: none;
            }

            button.btn {
                width: 100%;
                height: 8.7vh;
                background-color: $darkBackground;
                border: 2px solid $darkBackground;
                border-radius: 1rem;
                color: $white;
                outline: none;
                margin-top: 1rem;
                font-size: 1.3rem; 
            }

            #pwcredential {
                font-size: 0.8rem;
                padding: 0 0.3rem;
                border-radius: 50%;
                color: $white;
                background-color: $darkBackground;
            }

            // .sign-up-pw, .sign-up-confirm-pw {
            //     position: relative;
            //     .fas {
            //         position: absolute;
            //         right: 5%;
            //         bottom: 25%;
            //     }

            //     .fa-eye-slash{
            //         display: block;
            //     }

            //     .fa-eye{
            //         display: none;
            //     }
                
            // }

            .sign-up-pw, .sign-up-confirm-pw {
                display: flex;
                justify-content: space-between;
                align-items: center;
                border: 2px solid $darkBackground;
                border-radius: 1rem;

                .fa-eye-slash{
                    margin-right: 1em;
                    display: block;
                }

                .fa-eye{
                    margin-right: 1em;
                    display: none;
                }
            }
        }
    }
}