* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sign-in header {
  background-color: gray;
  text-align: center;
  padding: 0.7rem;
}

.sign-in header p {
  font-family: sans-serif;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.sign-in main .sign-in-main-heading {
  height: 30vh;
  background-color: #eeeeee;
  border-bottom: 2px solid gray;
  padding: 0.3rem 1.5rem;
  display: flex;
  align-items: flex-end;
}

.sign-in main .sign-in-main-heading h1 {
  font-family: sans-serif;
  color: gray;
  font-size: 2.2rem;
  font-weight: bold;
}

.sign-in main form {
  padding: 0.6rem 1.5rem;
}

.sign-in main form label {
  font-family: sans-serif;
  font-size: 0.9rem;
}

.sign-in main form label span {
  color: gray;
  font-size: 0.6rem;
  margin-left: 0.1rem;
}

.sign-in main form .sign-in-errorMsg {
  display: inline-block;
  font-size: 0.9rem;
  color: #f36262;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.sign-in main form input {
  width: 100%;
  height: 8.5vh;
  line-height: 8.5vh;
  border: 2px solid gray;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.2rem;
}

.sign-in main form .btn {
  width: 100%;
  padding: 0.9rem;
  font-family: sans-serif;
  background-color: gray;
  margin-top: 3.1rem;
  font-size: 1.2rem;
  border-radius: 1rem;
}

.sign-in main form a.btn {
  margin-top: 2rem;
  background-color: #eeeeee;
  border: 2px solid gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sign-up header {
  background-color: gray;
  text-align: center;
  padding: 0.7rem;
}

.sign-up header p {
  font-family: sans-serif;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.sign-up main .sing-up-main-heading {
  height: 30vh;
  background-color: #eeeeee;
  border-bottom: 2px solid gray;
  padding: 0.3rem 1.5rem;
  display: flex;
  align-items: flex-end;
}

.sign-up main .sing-up-main-heading h1 {
  font-family: sans-serif;
  color: gray;
  font-size: 2.2rem;
  font-weight: bold;
}

.sign-up main form {
  padding: 0.2rem 1.5rem;
}

.sign-up main form label {
  font-family: sans-serif;
  font-size: 0.9rem;
}

.sign-up main form label span {
  color: gray;
  font-size: 0.6rem;
  margin-left: 0.1rem;
}

.sign-up main form .sign-up-errorMsg {
  display: inline-block;
  font-size: 0.9rem;
  color: #f36262;
  margin-left: 0.5rem;
  margin-bottom: 0;
}

.sign-up main form input {
  width: 100%;
  height: 8.5vh;
  line-height: 8.5vh;
  border: 2px solid gray;
  border-radius: 1rem;
  padding: 0 1rem;
  font-size: 1.2rem;
}

.sign-up main form button.btn {
  width: 100%;
  height: 8.7vh;
  background-color: gray;
  border: 2px solid gray;
  border-radius: 1rem;
  color: white;
  outline: none;
  margin-top: 1rem;
  font-size: 1.3rem;
}

.sign-up main form #pwcredential {
  font-size: 0.8rem;
  padding: 0 0.3rem;
  border-radius: 50%;
  color: white;
  background-color: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.welcome-page header {
  background-color: gray;
  text-align: center;
  padding: 0.7rem;
}

.welcome-page header p {
  font-family: sans-serif;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.welcome-page main .welcome-page-main-heading {
  height: 30vh;
  background-color: #eeeeee;
  border-bottom: 2px solid gray;
  padding: 0.3rem 1.5rem;
  display: flex;
  align-items: flex-end;
}

.welcome-page main .welcome-page-main-heading h1 {
  font-family: sans-serif;
  color: gray;
  font-size: 2.2rem;
  font-weight: bold;
}

.welcome-page main .welcome-page-main-message {
  padding: 0.6rem 1.5rem;
}

.welcome-page main .welcome-page-main-message p {
  font-family: sans-serif;
  margin: 1rem 0;
}

.welcome-page main .welcome-page-main-message a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 100%;
  height: 8.5vh;
  line-height: 8.5vh;
  background-color: gray;
  border: 2px solid gray;
  border-radius: 1rem;
  color: white;
  outline: none;
  margin-top: 2.5rem;
  font-family: sans-serif;
  font-size: 1.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.onboarding header {
  background-color: gray;
  text-align: center;
  padding: 0.7rem;
}

.onboarding header p {
  font-family: sans-serif;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;
}

.onboarding main {
  padding: 1.2rem 1.5rem;
}

.onboarding main .carousel .carousel-indicators {
  position: absolute;
  top: 65%;
}

.onboarding main .carousel .carousel-indicators button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 1rem;
}

.onboarding main .carousel .carousel-item {
  height: 87vh;
}

.onboarding main .carousel .carousel-item img {
  width: 100%;
  height: 58%;
  border-radius: 2rem;
}

.onboarding main .carousel .carousel-item .description {
  height: 42%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.onboarding main .carousel .carousel-item .description h2 {
  font-size: 1rem;
  font-weight: bold;
}

.onboarding main .carousel .carousel-item .description p {
  font-size: 1rem;
}

.onboarding main .carousel .carousel-item .description .btn {
  width: 60%;
  padding: 0.8rem;
  font-family: sans-serif;
  background-color: gray;
  font-size: 1rem;
  border-radius: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.moving-details header {
  text-align: center;
  background-color: gray;
  width: 100%;
  color: white;
  padding: 0.7rem;
}

.moving-details header p {
  font-family: sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 1rem;
}

.moving-details main {
  padding: 0 0.5em;
  height: 100vh;
}

.moving-details main .heading {
  margin-top: 1.5rem;
}

.moving-details main .heading h1 {
  color: gray;
  font-weight: bold;
}

.moving-details main form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.moving-details main form .search {
  position: relative;
  flex-grow: 1;
}

.moving-details main form .search span {
  position: absolute;
  left: 0.7em;
  top: 2rem;
  font-size: 1.4rem;
}

.moving-details main form .search-input {
  margin-top: 1em;
  padding: 0.6rem 0 0.5rem 3rem;
  max-width: 100%;
  width: 100%;
  border-radius: 8px;
  font-size: 1.2rem;
}

.moving-details main form .filter {
  flex-grow: 0.2;
  margin-top: 1em;
  margin-left: 1em;
}

.moving-details main form .filter .fa-filter {
  font-size: 2rem;
  cursor: pointer;
}

.moving-details main form .filter:hover {
  color: #4e4e4e;
}

.moving-details .moving-options {
  border: 2px solid gray;
  border-radius: 8px;
  position: fixed;
  bottom: 9rem;
  right: 3.5rem;
  width: 225px;
  transform: translateX(130%);
  transition: all 0.4s;
}

.moving-details .moving-options ul {
  list-style-type: none;
  padding: 1.5rem 0.5rem 2rem;
  cursor: pointer;
}

.moving-details .moving-options ul li {
  text-align: center;
  padding: 1rem 0;
  width: 100%;
  color: gray;
}

.moving-details .moving-options ul li:hover {
  background-color: #eeeeee;
}

.moving-details .moving-options.active {
  transform: translateX(0%);
}

.moving-details button.options-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.4rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: none;
  background-color: gray;
  color: white;
  font-weight: bold;
  cursor: pointer;
  position: fixed;
  bottom: 2em;
  right: 0.3em;
}

.moving-details button.options-btn:hover {
  background-color: #4e4e4e;
}
.moving-details .label-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}
.moving-details .label-container span:is(.fa-plus, .fa-trash) {
  font-size: 1.4rem;
  margin: 0 1.2rem;
  cursor: pointer;
}

.existing-header {
  background-color: gray;
  color: white;
  height: 3rem;
  position: sticky;
  top: 0;
  padding: 1rem;
  text-align: center;
  font-family: sans-serif;
  font-size: 0.9em;
}

.existing-header2, .modal-window-active h1, .editModal-window-active h1, .editModal-hidden h1, .modal-hidden h1 {
  border-bottom: gray solid 2px;
}

.existing-search-cntn, .modal-window-active .newMovesInp, .modal-window-active button, .editModal-window-active .editMovesInp, .editModal-window-active button, .editModal-hidden .editMovesInp, .editModal-hidden button, .modal-hidden .newMovesInp, .modal-hidden button, .modal-delete-mask .modal-delete, .modal-delete-mask .modal-delete button, .modal-delete-mask-hidden .modal-delete, .modal-delete-mask-hidden .modal-delete button {
  border: gray solid 2px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

h2 {
  color: aliceblue;
}

.existing-header2 {
  margin-top: 4rem;
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 1rem;
  color: gray;
}

.existing-main h1 {
  color: gray;
}

.existing-search-cntn {
  margin: 1rem 20px 20px 20px;
  border-radius: 7px;
  height: 3rem;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.existing-search-cntn i {
  color: gray;
  font-size: 1.7rem;
}

.existing-search-cntn button, .existing-search-cntn input {
  border: none;
}

.existing-search-cntn button {
  width: 20%;
  background-color: white;
}

.existing-search-cntn input {
  outline: none;
  height: 100%;
  width: 100%;
}

.existing-footer {
  position: fixed;
  bottom: 0.5em;
  width: 100%;
  color: gray;
}

.existing-footer .plus-cntn {
  text-align: right;
  width: 95%;
  margin-bottom: 1.5rem;
}

.existing-footer .plus-cntn i {
  font-size: 3.5rem;
}

.existing-footer .footer-cntn {
  display: flex;
  width: 100%;
  font-size: 2rem;
  align-items: center;
  text-align: center;
}

.existing-footer .footer-cntn div {
  width: 100%;
}

.existing-footer p {
  font-size: 0.4em;
}

.modal-window-active {
  position: fixed;
  z-index: 12000;
  background-color: white;
  width: 90%;
  height: 95vh;
  top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 0.8s ease-in-out;
  border-radius: 10px;
}

.modal-window-active div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  color: black;
}

.modal-window-active li {
  list-style: none;
}

.modal-window-active h1 {
  color: gray;
  line-height: 4rem;
  text-align: center;
}

.modal-window-active ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-window-active h2 {
  font-size: 1em;
  font-weight: lighter;
  margin-left: 2rem;
  color: black;
}

.modal-window-active .newMovesInp {
  background-color: white;
  outline: none;
  transition: all 1s ease-in-out;
  border-radius: 7px;
  width: 80%;
  align-self: center;
  height: 2.5rem;
  margin-top: 0.3rem;
}

.modal-window-active button {
  width: 50%;
  padding: 0.8rem;
  border-radius: 10px;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.editModal-window-active {
  position: fixed;
  z-index: 12000;
  background-color: white;
  width: 90%;
  height: 95vh;
  top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  transition: all 0.8s ease-in-out;
  border-radius: 10px;
}

.editModal-window-active div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  color: black;
}

.editModal-window-active li {
  list-style: none;
}

.editModal-window-active h1 {
  color: gray;
  line-height: 4rem;
  text-align: center;
}

.editModal-window-active ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editModal-window-active h2 {
  font-size: 1em;
  font-weight: lighter;
  margin-left: 2rem;
  color: black;
}

.editModal-window-active .editMovesInp {
  background-color: white;
  outline: none;
  transition: all 1s ease-in-out;
  border-radius: 7px;
  width: 80%;
  align-self: center;
  height: 2.5rem;
  margin-top: 0.3rem;
}

.editModal-window-active button {
  width: 50%;
  padding: 0.8rem;
  border-radius: 10px;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  color: white;
}

.maskForModal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(70, 70, 70, 0.8);
  z-index: 2;
  transition: all 1s ease-in-out;
}

.maskForModal-hidden {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 2;
  transition: all 1s ease-in-out;
  position: fixed;
}

.editMaskForModal-hidden {
  visibility: hidden;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 2;
  transition: all 1s ease-in-out;
  position: fixed;
}

.editMaskForModal {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(70, 70, 70, 0.8);
  z-index: 2;
  transition: all 1s ease-in-out;
}

.editModal-hidden {
  visibility: hidden;
  width: 90%;
  height: 10vh;
  top: -20rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: fixed;
  z-index: 12000;
  transition: all 0.8s ease-in-out;
}

.editModal-hidden div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  color: black;
}

.editModal-hidden li {
  list-style: none;
}

.editModal-hidden h1 {
  color: gray;
  line-height: 4rem;
  text-align: center;
}

.editModal-hidden ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.editModal-hidden h2 {
  font-size: 1em;
  font-weight: lighter;
  margin-left: 2rem;
}

.editModal-hidden .editMovesInp {
  background-color: rgba(185, 185, 185, 0.5);
  outline: none;
  transition: all 1s ease-in-out;
  border-radius: 7px;
  width: 80%;
  align-self: center;
  height: 2.5rem;
  margin-top: 0.3rem;
}

.editModal-hidden button {
  visibility: hidden;
  width: 50%;
  padding: 0.8rem;
  border-radius: 10px;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
  color: white;
}

.modal-hidden {
  visibility: hidden;
  width: 90%;
  height: 10vh;
  top: -20rem;
  margin-left: 1rem;
  margin-right: 1rem;
  position: fixed;
  z-index: 12000;
  transition: all 0.8s ease-in-out;
}

.modal-hidden div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  color: black;
}

.modal-hidden li {
  list-style: none;
}

.modal-hidden h1 {
  color: gray;
  line-height: 4rem;
  text-align: center;
}

.modal-hidden ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-hidden h2 {
  font-size: 1em;
  font-weight: lighter;
  margin-left: 2rem;
}

.modal-hidden .newMovesInp {
  background-color: rgba(185, 185, 185, 0.5);
  outline: none;
  transition: all 1s ease-in-out;
  border-radius: 7px;
  width: 80%;
  align-self: center;
  height: 2.5rem;
  margin-top: 0.3rem;
}

.modal-hidden button {
  visibility: hidden;
  width: 50%;
  padding: 0.8rem;
  border-radius: 10px;
  background-color: gray;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.3s ease-in-out;
  color: white;
}

.ex-cntn {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(185, 185, 185, 0.5);
  padding: 1rem;
  border-radius: 10px;
  height: 7rem;
  margin-top: 2rem;
}

.ex-cntn .iconCntn {
  display: flex;
  justify-content: space-around;
  font-size: 1.8rem;
  color: #535353;
}

.ex-cntn h2, .ex-cntn p {
  text-align: center;
}

.ex-cntn h2 {
  color: #535353;
}

.ex-cntn p {
  color: grey;
}

.modal-delete-mask {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  background-color: rgba(167, 167, 167, 0.8);
  z-index: 2;
  transition: all 1s ease-in-out;
}

.modal-delete-mask .modal-delete {
  width: 90%;
  position: fixed;
  top: 15rem;
  left: 1rem;
  right: 1rem;
  background-color: white;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.modal-delete-mask .modal-delete .cross2 {
  font-size: 5rem;
  color: #535353;
}

.modal-delete-mask .modal-delete h2 {
  color: #535353;
  font-size: 1.1em;
  font-weight: lighter;
  text-align: center;
  padding: 0.5em;
}

.modal-delete-mask .modal-delete p {
  font-size: 0.9em;
  color: gray;
}

.modal-delete-mask .modal-delete .delete-btnCntn {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.modal-delete-mask .modal-delete button {
  border-radius: 10px;
  width: 46%;
  height: 2.5rem;
}

.modal-delete-mask .modal-delete .delete {
  background-color: gray;
}

.modal-delete-mask-hidden {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  z-index: 2;
  transition: all 1s ease-in-out;
}

.modal-delete-mask-hidden .modal-delete {
  width: 90%;
  position: fixed;
  top: -20rem;
  left: 1rem;
  right: 1rem;
  background-color: white;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
}

.modal-delete-mask-hidden .modal-delete .cross2 {
  font-size: 5rem;
  color: #535353;
}

.modal-delete-mask-hidden .modal-delete h2 {
  color: black;
  font-size: 1.1em;
  font-weight: lighter;
  text-align: center;
  padding: 0.5em;
}

.modal-delete-mask-hidden .modal-delete p {
  font-size: 0.9em;
}

.modal-delete-mask-hidden .modal-delete .delete-btnCntn {
  margin-top: 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.modal-delete-mask-hidden .modal-delete button {
  border-radius: 10px;
  width: 46%;
  height: 2.5rem;
}
